extends ../shared/layout.jade

block main-content
    form.form-horizontal(method="post" action="/about")
        fieldset
        legend Create Categorie
        .form-group
            label.col-lg-2.control-label(for='name') Company name
            .col-lg-10
            input#name.form-control(type='text', value="#{info.companyName}", name="companyName")
        .form-group
            label.col-lg-2.control-label(for='textArea') Description
            .col-lg-10
            textarea#textArea.form-control(rows='3', name="companyDescription") #{info.companyDescription}
            span.help-block
                | Write short description of the category.
        .form-group
            .col-lg-10.col-lg-offset-2
            a(href="/").btn.btn-default Cancel
            input.btn.btn-primary(type='submit' value="Apply")
    form.form-horizontal(method="post" action="/about/uploadImage" enctype="multipart/form-data")
        .form-group
            .col-lg-10
            input#name.form-control(type='file', name="companyImage")
        .form-group
            .col-lg-10.col-lg-offset-2
            a(href="/").btn.btn-default Cancel
            input.btn.btn-primary(type='submit' value="Upload Image")
