extends ../shared/layout

block main-content
    .jumbotron.jt-background
        h1 #{info.companyName}
            hr.hr-color
            p
                | #{info.companyDescription}
            img(src="#{imageUrl}" alt="Company image!").center-block.img-design