extends ../shared/layout.jade

block main-content
    div.jt-background
        form.form-horizontal(method="post" action="/admin/about")
            fieldset
            legend Edit Your Company Info
            .form-group
                label.col-lg-1.control-label(for='name') Company name
                .col-md-8
                    input#name.form-control(type='text', value="#{info.companyName}", name="companyName")
            .form-group
                label.col-lg-1.control-label(for='textArea') Description
                .col-lg-8
                    textarea#textArea.form-control(rows='3', name="companyDescription") #{info.companyDescription}
            .form-group
                .col-lg-10.col-lg-offset-2
                    a(href="/admin/about/edit").btn.btn-default Cancel
                    input.btn.btn-primary.buttonMargin(type='submit' value="Apply")
        form.form-horizontal(method="post" action="/admin/about/uploadImage" enctype="multipart/form-data")
            .form-group
                    label.col-lg-1.control-label(for='name') Upload Image
                    .col-md-8
                        input#name.form-control(type='file', name="companyImage", accept='.jpg,.bmp,.png')
            .form-group
                .col-lg-10.col-lg-offset-2
                    a(href="/admin/about/edit").btn.btn-default Cancel
                    input.btn.btn-primary.buttonMargin(type='submit' value="Upload Image")
