extends ../shared/layout
block main-content
    form.form-horizontal(method="post" action="/admin/products/add" enctype="multipart/form-data").jt-background
        fieldset
        legend Create Product
        .form-group
            label.col-lg-1.control-label(for='name') Name
            .col-md-8
                input#name.form-control(type='text', placeholder='Name', name="name")
        .form-group
            label.col-lg-1.control-label(for='textArea') Description
            .col-md-8
                textarea#textArea.form-control(rows='3', name="description")
        .form-group
            label.col-lg-1.control-label(for='price') Price
            .col-md-8
                input#price.form-control(type='number', placeholder='Price', name="price")
        .form-group
            label.col-lg-1.control-label(for='quantity') Quantity
            .col-md-8
                input#quantity.form-control(type='number', placeholder='Quantity', name="quantity")
        .form-group
           label.col-lg-1.control-label(for='categories') Categories
           .col-md-8.pull-left
            select(name="categories")
                each category in categories
                    option(value='#{category.id}') #{category.name}
        .form-group
            label.col-lg-1.control-label(for='productImage') Image
            .col-md-8
                input#productImage.form-control(type='file', name='productImage', accept='.jpg,.bmp,.png')
        .form-group
            .col-md-8.pull-left
                a(href="/admin/products/add").btn.btn-default Cancel
                input.btn.btn-primary.buttonMargin(type='submit' value="Create")