extends ../shared/layout
include ../mixins/pager-mixin
block main-content
    form(method="get" action="/products").input-group.col-md-4
        input.form-control(type='text', placeholder='Filter by name', name='filterby')
        .input-group-btn
            button.btn.btn-default(type='submit') Search
    hr
    .row
        if(categoryId)
            form(method="get" action="./#{categoryId}")
                .form-group.col-md-5
                    label(for='sortByDate') SortByDate:
                    select#sortByDate.form-control(name='sortByDate')
                        option(selected)
                        option(value='asc') ASC
                        option(value='desc') DESC
                .form-group.col-md-5
                    label(for='sortByPrice') SortByPrice:
                    select#sortByPrice.form-control(name='sortByPrice')
                        option(selected)
                        option(value='asc') ASC
                        option(value='desc') DESC
            label.col-md-2.label-color SortByPrice:
            button.btn.btn-primary(type='submit') Filter
    .row.text-center
        each product in products
            .col-md-3.col-sm-6.hero-feature
                .thumbnail
                    img(src='#{product.imageUrl}', alt='')
                    .caption
                        h3.cutText #{product.name}
                        p
                            a.btn.btn-default(href='/products/#{product.id}') View
    if(!!showPagination)
        +pagination(totalPages)
