extends ../shared/layout.jade

block main-content
    form.form-horizontal(method="post" action="/categories/add")
        fieldset
        legend Create Categorie
        .form-group
            label.col-lg-2.control-label(for='name') Name
            .col-lg-10
            input#name.form-control(type='text', placeholder='Name', name="name")
        .form-group
            label.col-lg-2.control-label(for='textArea') Description
            .col-lg-10
            textarea#textArea.form-control(rows='3', name="description")
            span.help-block
                | Write short description of the category.
        .form-group
            .col-lg-10.col-lg-offset-2
            a(href="/").btn.btn-default Cancel
            input.btn.btn-primary(type='submit' value="Create")
