extends ../shared/layout
block main-content
   .row.alert-success.h4
      .col-md-3 Name
      .col-md-6 Description
   each category in categories
      .row.thumbnail
         .col-md-3
            h3.cutText #{category.name}
         .col-md-5
            p.ellipsis #{category.description}
         .col-md-3
            p
               a.btn.btn-primary.pull-right(href='/admin/categories/edit/#{category.id}') Edit
