extends ../shared/layout

block main-content
    .row
        .col-sm-12
            .row
                each category in categories
                    .col-md-3
                        .well
                            h4
                                span.label.label-primary.pull-right #{category.products.length}
                                a.text-primary(href='/products/bycategory/#{category.id}') #{category.name}
