extends ../shared/layout

block main-content
    div(ng-controller="CategoriesCtrl")
        ul.nav.nav-pills
        each category in categories
            li
                .jumbotron
                    h1 #{category.name}
                    p
                        | #{category.description}
                    p
                        a(href='http://localhost:3000/products/bycategory?category=#{category._id}').btn.btn-primary.btn-lg Edit
                        a(href='http://localhost:3000/categories/remove?id=#{category._id}').btn.btn-primary.btn-lg Delete
                        form(method="DELETE" action="http://localhost:3000/categories/remove?id=category.id")
                            input(type="submit" value="Delete Form")
                        button(ng-click="deleteCategory()").btn.btn-primary.btn-lg DeleteAngular