extends ../shared/layout.jade

script(src="https://cdn.socket.io/socket.io-1.4.3.js")

block main-content
    .container(ng-controller="ChatController")
        .row
            .col-md-12
                .panel.panel-primary.pre-scrollable
                    .panel-heading
                        b Chat Group
                        small online
                    .panel-body(style="background:url('http://subtlepatterns.com/patterns/geometry2.png');height: 300px; }")
                        .clearfix
                            blockquote.me.pull-left.messages-container
        input(type="text" name="message" ng-model="msg" id="input-message" placeholder="Place your message here")
        p(ng-model="username" ng-show="false")#username #{username}
        button(ng-click="send()") Send