extends shared/layout
block main-content
   h1 Administration Panel
   .container
      .leftContainer
         ul
            li
               a(href="/admin/categories/add") Add Category
            li
               a(href="/admin/products/add") Add Product
      .rightContainer
         if (errorMessage)
            .alert.alert-danger #{errorMessage}
