extends shared/layout
block main-content
   h1 Administration Panel
   .container
      .leftContainer

      .rightContainer
         if (errorMessage)
            .alert.alert-danger #{errorMessage}
