doctype
html
    head
        title Telerik File Upload System
        link(rel="stylesheet" href="/lib/bootstrap-3.2.0/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/site.css")
    body
        header.nav
        .container
            .navbar-header
                a.navbar-brand(href="/") File Upload
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                    if (currentUser)
                        if(currentUser.roles === 'admin')
                            li
                                a(href="/admin") Administration
                        li
                            a(href="/account/profile") #{currentUser.username}
                        li
                            a(href="/account/logout") Logout
                    else
                        li
                            a(href="/account/register") Register
                        li
                            a(href="/account/login") Login

        .container
            if (errorMessage)
                .alert.alert-danger #{errorMessage}

            block main-content

        footer
            p.text-center
                | &copy; Telerik Academy 2014

        include scripts