.centered-form{
    margin-top: 60px;
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

label.label-floatlabel {
    font-weight: bold;
    color: #46b8da;
    font-size: 11px;
}
.error{
    color: darkred;
}
.rightContainer {
    float: left;
    width: 80%;
}
.leftContainer {
    float: left;
    width: 150px;
    margin-right: 20px;
}
.buttonMargin{
    margin-left: 20px;
}
.hero-feature {
    margin-bottom: 30px;
}
.cutText {
    text-overflow: ellipsis;
}
.me{
    font-size: 14px;
    margin: -4px;
    border-right: 3px solid #60DF88 !important;
    padding: 5px;
    background-color: rgb(239, 255, 241);
}

.you{
    font-size: 14px;
    margin: -4px;
    border-left: 3px solid rgb(255, 112, 0) !important;
    padding: 5px;
    padding-left:10px;
    background-color: rgb(247, 247, 214);
}
.label-color{
    color: white;
}