mixin pagination(totalPages)
   div(id="page-selection")
       script.
           var currentPage = window.location.search.split('page=')[1] || 1;
           var number
           $('#page-selection').bootpag({
               total: #{totalPages},
               page: currentPage,
               maxVisible: 10,
               leaps: true,
               firstLastUse: true,
               first: '|<<',
               last: '>>|',
               wrapClass: 'pagination',
               activeClass: 'active',
               disabledClass: 'disabled',
               nextClass: 'next',
               prevClass: 'prev',
               lastClass: 'last',
               firstClass: 'first'
           }).on("page", function (event, num) {
               var re =/page=.[^&]*&/;
               var search = window.location.search.replace('?','').split(re).join('');
               var url = window.location.pathname + "?page=" + num + "&" + search;
               $(location).attr("href", url);
           });